*{
  padding: 0px;
}

@font-face {
  font-family: "Tea";
  src: url(/font/tea.ttf);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header {
  color: #161b10;
  min-height: 100vh;
  background-color: #F6F4D2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header .upHeader {
  display: flex;
  justify-content: space-between;
}
.header .upHeader .name {
  font-size: 30px;
  padding: 13px;
  padding-left: 100px;
}
.header .upHeader .linksBlock {
  padding: 25px;
  font-size: 25px;
}
.header .upHeader .linksBlock .ulLins {
  display: flex;
}
.header .upHeader .linksBlock .ulLins li {
  padding-right: 100px;
}
.header .upHeader .linksBlock .ulLins .ulAbout {
  display: none;
  position: absolute;
  padding: 0px;
}
.header .upHeader .linksBlock .ulLins .ulAbout li {
  margin-top: 20px;
}
.header .upHeader .linksBlock .ulLins p {
  width: 120%;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid #F6F4D2;
}
.header .upHeader .linksBlock .ulLins .about:hover .ulAbout {
  display: block;
}
.header .upHeader .linksBlock a {
  font-weight: 700;
}
.header .upHeader .linksBlock p:hover {
  border-bottom: 4px solid #D4E09B;
}
.header .upHeader .linksBlock a:hover {
  border-bottom: 4px solid #D4E09B;
}
.header .hederTitle {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tea;
  font-size: 40px;
}

body{
    margin: 0 auto;
}
.formBlockMain{
    display: flex;
    justify-content: center;
    background-image: url("photos/backPhoto.jpg");
    background-size: 100%;
    background-color: #F6F4D2;
    background-blend-mode: multiply;
    height: 800px;
    min-width: 100%;
    margin: 0 auto;
    padding-top: 1px;
}
.text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #181d12;
    outline: none;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}
button{
    width: calc(80%);
    font-size: 20px;
    border-radius: 10px; 
    padding: 10px;
    background-color: #181d12;
    color: #F6F4D2;
    margin-bottom: 25px;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.5s ease;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; 
}

.formBlock{
    margin-top: calc(20%);
    margin-left: 15px;
    margin-right: 15px;
    max-width: 1300px;
    height: 350px;
    background-color: #F6F4D2;
    display: flex;
    flex-direction: column;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem #181d12);
    border-radius: 20px;
}