$colorDop : #D4E09B;
$colorBgOne : #F6F4D2;
$colorBgTwo : #CBDFBD;
$colorTextLite : #F19C79;
$colorTextHite : #A44A3f;
$colorText : #161b10;

@font-face {
	font-family: 'Tea'; 
	src: url(font/tea.ttf); 
}

*{
    margin: 0px;
}

a{
    text-decoration: none;
    color: $colorText;
}

li{
    list-style: none;
}

// ---------- HEADER ----------
.vidioBg{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color:$colorDop;
}

.header{
    box-shadow: none;
    position: absolute;
    color: $colorText;
    min-height: 100%;
    width: 100vw;
    background-color: $colorBgOne;
    font-family: Tea;

    .upHeader{
        font-family: tea;
        min-height: 150px;
        display: flex;
        justify-content: space-between;
        
        .name{
            font-size: 30px;
            margin: 2.5vh;
            margin-left: 10vh;
            padding: 0px 20px;
            height: 10px;
            h1{
                border-bottom: 5px solid $colorText;
            }
        }

        .linksBlock{
            padding: 50px;
            font-size: 25px;
            .ulLins{
                display: flex;
                flex-wrap: wrap;
                li{
                    padding-right: 10vh;
                }
                .ulAbout{
                    display: none;
                    position: absolute;
                    padding: 0px;
                    li{
                        margin-top: 20px;
                    }
                }
                p{
                    width: 120%;
                    display: flex;
                    justify-content: center;
                    border-bottom: 4px solid rgba(115, 255, 0, 0);
                }
                .about:hover .ulAbout{
                    display: block;
                }
            }
            a{
                font-weight: 700;
            }
            p:hover{
                border-bottom: 4px solid $colorText;
            }
            a:hover{
                border-bottom: 4px solid $colorText;
            }
        }
    }

    .hederTitle{
        margin-top: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Tea;
        font-size: 40px;
        text-align: center;
    }
}

// ---------- HEADER ----------

// ----------CATALOG----------
.katalogPhotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #161b10;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .katalogPhotos img{
    width: 300px;
    height: 300px;
    mix-blend-mode: multiply;
    border-radius: 30px;
  }
  
  .bergamot{
    background: #CBDFBD;
    border-radius: 30px;
    margin: 20px;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  
  .jasmine{
    background: #F6F4D2;
    margin: 20px;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    border-radius: 30px;
  }
  
  .mint{
    background: #D4E09B;
    border-radius: 30px;
    margin: 20px;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    animation: show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  
  @keyframes show{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  .toKatalog{
    background-color: #F6F4D2;
    width: 40%;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    margin-left: 80px;
    color: #161b10;
    font-family: 'Courier New', Courier, monospace;
  }
  
  button:hover{
    background-color: #D4E09B;
    color: #161b10;
    border: solid 2px #D4E09B;
    transition: all 300ms ease;
  }
  
  .katalogText{
    font-family: 'Courier New', Courier, monospace;
    color: #F6F4D2;
    font-size: 25px;
    width: calc(60%);
    text-align: center;
  }
  
  .katalogTextBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: calc(30%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }
//--------------CATALOG-----------------

// ---------- COMYNITY ----------
.comynitySection {
    font-family: 'Courier New', Courier, monospace;
    box-shadow: inset 5px 5px 50px #00000063;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: $colorBgOne;
    .comynityBlock {
        .comynityPerson {
            display: flex;
            align-items: center;
            font-size: 22px;
            color: $colorText;
            margin: 80px 0px;
            .personImg {
                img{
                    border-radius: 30%;
                }
            }
            .personTitle {
                max-width: 600px;
                margin: 0px 50px;
                .mainTitle{
                    font-size: 30px;
                }
                p{
                    margin: 10px;
                }

            }
        }
    }
}
// ---------- COMYNITY ----------

// -----------SET--------------
.setSelection {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    background-color: $colorDop;
    min-height: 650px;
    .setBlock {
        margin: 100px 0px;
        font-size: 18px;
        display: flex;
        align-items:center;
        .set {
            min-width: 300px;
            &:hover{
                border: 3.7px solid $colorText;
            }
            &:nth-child(2){
                border: 3.7px solid $colorText;
                min-height: 370px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 400px;
            border: 2px solid black;
            border-radius: 20px;
            .headTitle {
                font-size: 30px;
                text-align: center;
                margin-top: 20px;
            }
            .title {
                margin: 20px 20px;
                p{
                    margin: 10px;
                }
            }
            button{
                margin-top: 5vh;
            }
            .formButton{
                border-radius: 20px;
                border: 2px solid $colorText;
            }
        }
    }
}
// -----------SET--------------

// THIS is CODE LIDA aka FORM

.formBlockMain{
    background-image: url("photos/backPhoto.jpg");
    background-size: 100%;
    background-color: #F6F4D2;
    background-blend-mode: multiply;
    height: 800px;
    min-width: 100%;
    margin: 0 auto;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #181d12;
    outline: none;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}
button{
    width: calc(80%);
    font-size: 20px;
    border-radius: 10px; 
    padding: 10px;
    background-color: #181d12;
    color: #F6F4D2;
    margin-bottom: 25px;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.5s ease;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; 
}

.formBlock{
    margin-top: 150px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #F6F4D2;
    display: flex;
    flex-direction: column;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem #181d12);
    border-radius: 20px;
    max-width: 1200px;
}

.text h1, h3{
    margin-top: 10px;
    margin-bottom: 20px;
}

// THIS is CODE LIDA aka FORM


// -------- MEDIA -------------

@media (max-width: 1920px) and (max-height: 1100px){
    .header .upHeader .name{
        h1{
            border-bottom: 5px solid $colorBgOne;
        }
    }
    .header .upHeader .linksBlock .ulLins p:hover{
        border-bottom: 4px solid $colorDop;
    }
    .header .upHeader .linksBlock .ulLins p{
        border-bottom: 4px solid rgba(255, 0, 0, 0);
    }
    .header .upHeader .linksBlock .ulLins a:hover{
        border-bottom: 4px solid $colorDop;
    }

    a{
        color: $colorBgOne;
    }
    .header{
        background-color: rgba(0, 0, 0, 0.459);
        color: $colorBgOne;
        box-shadow: inset 10px 10px 200px #000;
        .header .upHeader .linksBlock .ulLins p:hover{
            color: $colorBgOne;
        }
    }
}

@media (max-width: 1400px){
    .upHeader{
        flex-direction: column;
        .linksBlock{
            display: flex;
            justify-content: center;
            .links{
                margin-top: 1vh;
                font-size: 34px;
                .ulLins{
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 30px;
                    li{
                        margin-top: 30px;
                        padding: 0px;
                    }
                }
                .about{
                    display: none;
                }
            }
        }
    }
    .header .hederTitle{
        margin: 10vh;
        font-size: 20px;
        text-align: center;
    }
    .header .upHeader .linksBlock{
        padding: 20px;
    }
    .header .upHeader .name{
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
}


// ---------COMYNITY---------
@media(max-width:580px){
    .comynitySection .comynityBlock .comynityPerson{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        font-size: 18px;

        .personImg{
            margin-left: 50px;
            img{
                width: 200px;
                height: 200px;
            }
        }
        .personTitle{
            .maintitle{
                font-size: 24px;
            }
        }
    }

    .comynitySection .comynityBlock .comynityPerson .personImg img{
        order: 0;
    }
    .comynitySection .comynityBlock .comynityPerson .personTitle{
        order: 1;
    }
}