@font-face {
  font-family: "Tea";
  src: url(/font/tea.ttf);
}
* {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #161b10;
}

li {
  list-style: none;
}

.vidioBg {
  height: 100vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F6F4D2;
}

.header {
  position: absolute;
  color: #161b10;
  min-height: 100vh;
  width: 100vw;
  background-color: #F6F4D2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header .upHeader {
  font-family: tea;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
}
.header .upHeader .name {
  font-size: 30px;
  margin: 2.5vh;
  margin-left: 10vh;
  padding: 0px 20px;
}
.header .upHeader .name h1 {
  border-bottom: 5px solid #161b10;
}
.header .upHeader .linksBlock {
  padding: 50px;
  font-size: 25px;
}
.header .upHeader .linksBlock .ulLins {
  display: flex;
  flex-wrap: wrap;
}
.header .upHeader .linksBlock .ulLins li {
  padding-right: 10vh;
}
.header .upHeader .linksBlock .ulLins .ulAbout {
  display: none;
  position: absolute;
  padding: 0px;
}
.header .upHeader .linksBlock .ulLins .ulAbout li {
  margin-top: 20px;
}
.header .upHeader .linksBlock .ulLins p {
  width: 120%;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid rgba(115, 255, 0, 0);
}
.header .upHeader .linksBlock .ulLins .about:hover .ulAbout {
  display: block;
}
.header .upHeader .linksBlock a {
  font-weight: 700;
}
.header .upHeader .linksBlock p:hover {
  border-bottom: 4px solid #161b10;
}
.header .upHeader .linksBlock a:hover {
  border-bottom: 4px solid #161b10;
}
.header .hederTitle {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Tea;
  font-size: 40px;
  text-align: center;
}

.formBlockMain {
  background-image: url("photos/backPhoto.jpg");
  background-size: 100%;
  background-color: #F6F4D2;
  background-blend-mode: multiply;
  height: 800px;
  min-width: 100%;
  margin: 0 auto;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  text-align: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #181d12;
  outline: none;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

button {
  width: 80%;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #181d12;
  color: #F6F4D2;
  margin-bottom: 25px;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.formBlock {
  margin-top: 150px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #F6F4D2;
  display: flex;
  flex-direction: column;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem #181d12);
  border-radius: 20px;
  max-width: 1200px;
}

.text h1, h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 1920px) {
  .header .upHeader .name h1 {
    border-bottom: 5px solid #F6F4D2;
  }
  .header .upHeader .linksBlock .ulLins p:hover {
    border-bottom: 4px solid #D4E09B;
  }
  .header .upHeader .linksBlock .ulLins p {
    border-bottom: 4px solid rgba(255, 0, 0, 0);
  }
  .header .upHeader .linksBlock .ulLins a:hover {
    border-bottom: 4px solid #D4E09B;
  }
  a {
    color: #F6F4D2;
  }
  .header {
    background-color: hsla(0, 0%, 0%, 0.651);
    color: #F6F4D2;
  }
  .header .header .upHeader .linksBlock .ulLins p:hover {
    color: #F6F4D2;
  }
}
@media (max-width: 1400px) {
  .upHeader {
    flex-direction: column;
  }
  .upHeader .linksBlock {
    display: flex;
    justify-content: center;
  }
  .upHeader .linksBlock .links {
    margin-top: 1vh;
    font-size: 34px;
  }
  .upHeader .linksBlock .links .ulLins {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }
  .upHeader .linksBlock .links .ulLins li {
    margin-top: 30px;
    padding: 0px;
  }
  .upHeader .linksBlock .links .about {
    display: none;
  }
  .header .hederTitle {
    margin: 10vh;
    font-size: 20px;
    text-align: center;
  }
  .header .upHeader .linksBlock {
    padding: 20px;
  }
  .header .upHeader .name {
    text-align: center;
    padding: 0px;
    margin: 100vh;
  }
}/*# sourceMappingURL=style.css.map */